@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 0.2s ease-out;
}

/* globals.css */
.btn-primary {
    @apply px-6 py-2 bg-[#e17a00] text-white font-medium rounded-lg focus:ring-[#e17a00] focus:ring-offset-2 transition-colors hover:bg-[#66bb6a];
}

.btn-success {
    @apply px-6 py-2 bg-[#28a745] text-white font-medium rounded-lg focus:ring-[#28a745] focus:ring-offset-2 transition-colors hover:bg-[#218838];
}

.btn-danger {
    @apply px-6 py-2 bg-[#dc3545] text-white font-medium rounded-lg focus:ring-[#dc3545] focus:ring-offset-2 transition-colors hover:bg-[#c82333];
}

.small-text {
    font-size: 13px;
    /* color: #1e8b23; */
}

.cust-status-label {
    width: 100%;
    padding: 6px 20px;
    float: left;
    text-align: center;
}

.text-bgreen {
    color: #66bb6a;
}

.font-weight-500 {
    font-weight: 500;
}

.text-borange {
    color: #e17a00;
}

aside {
    overflow-y: scroll;
}

/* @media(max-width:1700px){
    .mobileResponsive{
        height: 400px;
        overflow: scroll; 
    }
} */
.h-20 {
    height: 3.2rem;
    margin-bottom: 3rem;
}

.swal2-actions .swal2-confirm {
    background-color: #d33 !important;
}

.border-progress-500 {
    border-color: rgb(251 140 0);
}

.text-progress-600 {
    color: rgb(251 140 0);
}



/* marquee css start */
.capsule-marquee {
    width: 100%;
    overflow: hidden;
    background: transparent;
    padding: 1rem 0;
}

.capsule-marquee__track {
    display: flex;
    width: max-content;
    animation: scroll linear infinite;
}

.capsule-marquee__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding-right: 2rem;
    min-width: 100vw;
    /* important */
}

.capsule {
    padding: 0.75rem 1.25rem;
    background: rgb(255 205 210);
    /* color: rgb(246 45 57); */
    color: black;
    font-weight: 5 00;
    border-radius: 999px;
    text-align: center;
    white-space: nowrap;
    border: 1px solidrgb(255 205 210);
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/* Responsive */
@media (max-width: 768px) {
    .capsule-marquee__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .capsule-marquee__grid {
        grid-template-columns: 1fr;
    }
}

/* marquee css end */